 .portfolio {
   
   .card {
      // border: black 3px dashed;
      margin-bottom: 5rem;
      padding-bottom: 5rem;
      .container {
         width: 100%;
         
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
      }
      
   }

   h4, p,
   .techStack, 
   .links {
      margin-bottom: 1rem;
      
   }

   .imgContainer {
      object-fit: cover;
      min-width: 30rem;
      height: auto;
      margin-bottom: 3rem;
      width: 70%;

      display: flex;
      justify-content: right;
      align-items: center;

      position: relative;
      img {
         width: 100%;
      }

      .links {
         display: block;

         position: absolute;
         top: 1rem;
         a {
            font-size: 5rem;
            margin-bottom: 1.5rem;
         }
      }
   }

   .info {
      // border: lime 3px dashed;
      text-align: center;
      padding: 0 2rem;
      margin: 0 3rem;
      width: 90%;

      display: flex;
      justify-content: center;
      align-items: center;

      .text {
         width: 80%;
      }
      .links {
         a {
            margin: 1rem;
            color: $light;
            font-size: 4rem;
            
         }
      }
      .techStack {
         margin: 2rem 0;
         display: flex;
         align-items: center;
         justify-content: center;
         
         ul li {
            color: $primary;
            background: $accent;
            border-radius: 0.4rem;
            margin: 0 1rem 1rem 1rem;
            padding: 1rem 2rem;
         }
      }
   }

   .techStack {
      display: flex;
      ul {
         display: flex;
         justify-content: space-evenly;
      }
      li {
         margin: 0 1rem;
      }
   }
   i:hover,
   i:focus {
      color: $accent;
   }
}
