// COLOURS ....................................................................
$primary: #fffbfb; 
$secondary: #00ffea;
$accent: #8385ce;
$dark: #160e0b;
$light: #4348a2;
$hover: #05ffb4;


// FONT VARIABLES ....................................................................

// SANS-SERIF .................
$sansSerif: 'Arial, Helvetica',  sans-serif;

$sansSerifBold: 'myriad-pro-semiextended',  sans-serif;

// font-family: myriad-pro-semiextended, sans-serif;
// font-weight: 900, 600, 300 
// font-style: normal, italic

// SERIF .................
$serif: 'blenny', sans-serif;
// font-family: blenny, sans-serif;
// font-weight: 900;
// font-style: normal;


